@charset "utf-8";

/* ==============================
 * base
 * ============================== */
h1, h2, h3, h4, h5, h6, fieldset,ul, ol, dl, dt, dd, p, button ,figure{margin:0;padding:0;}
body{font:normal 14px/1.6 'Nanum Gothic','나눔 고딕','맑은 고딕','Malgun Gothic', sans-serif;color:#666;}
legend, caption{position:absolute;display:block;overflow:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
a{text-decoration:none;color:inherit;}
img{vertical-align:middle;}
fieldset, button{background:none;border:0px;}
ul:after,ol:after{content:'';display:block;clear:both;}
li{list-style:none;}
table{width:100%;border-spacing:0px;table-layout:fixed;}
iframe{vertical-align:middle;border:0 none;}
hr{margin:10px 0;border:0 none;height:1px;background:#c9c9c9;}

/* Chrome, Safari용 스크롤 바 */
/*::-webkit-scrollbar{width:8px;height:8px;border:3px solid #fff;}
::-webkit-scrollbar-track{background:#efefef;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.2)}*/

/* ==============================
 * mobile_base
 * ============================== */
/*iphone 글자크기 자동조정 방지*/
/*body{-webkit-text-size-adjust:none;} */
/*안드로이드 주황색 포커스 제거 */
/*body{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);} */
/*iphone 폼요소 리셋 */
/*input, select{-webkit-appearance:none;-webkit-border-radius:0}*/


/* ==============================
 * layout
 * ============================== */
html,body{height:100%;}
body.hidden{overflow:hidden;}
body {overflow-y:scroll;}
#wrap{min-width:1200px;background:#f5f5f8;}
#header{position:fixed;top:0;left:0;width:100%;min-width:1200px;background:#fff;border-top:3px solid #0083c2;border-bottom:1px solid #e5e5e5;z-index:110;}
#header .logo{width:255px;height:72px;float:left;border-right:1px solid #e5e5e5;text-align:center;}
#header .logo:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
#header .logo a{display:inline-block;}
#header .logo img{max-width:100px;max-height:72px;}
#header .gnb_wrap{position:fixed;width:255px;top:76px;left:0;bottom:0;background:#fff;border-right:1px solid #e5e5e5;}
.head_timer{float: left;margin-right: 20px;}
.head_timer .date {padding-bottom: 5px;}
.head_timer .date span{display:inline-block;margin-left:7px;}
.head_timer .date span:first-child{margin-left:0px;}
.head_timer .date b{font-family:Arial;color:#333;letter-spacing:-2px;}
.head_timer .flip-clock-wrapper{margin:0px 0 3px;}
.head_timer .flip-clock-wrapper ul{width:18px;height:20px;line-height:22px;font-size:12px;margin:0 1px;}
.head_timer .flip-clock-wrapper ul li{line-height:22px;}
.head_timer .flip-clock-wrapper ul li a div{font-size:14px;}
.head_timer .flip-clock-wrapper ul li a div div.inn{font-size:12px;}
.head_timer .flip-clock-dot{width:2px;height:2px;left:3px;}
.head_timer .flip-clock-dot.top{top:6px;}
.head_timer .flip-clock-dot.bottom{bottom:6px;}
.head_timer .flip-clock-divider{height:22px;width:8px;}
.head_timer .flip-clock-meridium{font-size:14px !important;}
.head_timer .flip-clock-wrapper a:hover{color:red;}
#gnb>ul{}
#gnb>ul>li{border-bottom:1px solid #e5e5e5;}
#gnb>ul>li>a{position:relative;display:block;padding:0px 10px 0px 15px;font-weight:bold;font-size:14px;color:#222;line-height:47px;}
#gnb>ul>li>a>.fa{font-size:24px;margin-right:10px;vertical-align:-3px;width:24px;text-align:center;}
#gnb>ul>li>a:hover,
#gnb>ul>li.active>a{background:#f5f5f8;}
#gnb>ul>li.active>a{margin-right:-1px;}
#gnb>ul>li>a:before{content:'';display:block;width:3px;position:absolute;left:0;top:50%;height:0;background:#0083c2;transition:all 0.3s ease;}
#gnb>ul>li>a:hover:before,
#gnb>ul>li.active>a:before{top:0;height:100%;}
#gnb>ul>li>a:after{content:'';display:block;padding:4px;position:absolute;right:15px;top:17px;border:1px solid #666;border-width:0 1px 1px 0;transform:rotate(45deg);transition:all 0.3s ease;}
#gnb>ul>li>a.open:after {transform:rotate(-45deg)}
#gnb>ul>li.on>a:after{top:24px;transform:rotate(225deg);}
#gnb>ul>li.active>a:after{top:19px;transform:rotate(-45deg);}
#gnb>ul>li.active>ul{display:block;}
#gnb>ul>li>ul{display:none;padding:20px 15px;background:#f9f9f9;border-top:1px solid #e5e5e5;}
#gnb>ul>li>ul>li{position:relative;padding-left:15px;}
#gnb>ul>li>ul>li+li{margin-top:6px;}
#gnb>ul>li>ul>li:before{content:'';display:block;padding:5px;position:absolute;top:0;left:0;border:1px solid #ddd;border-width:0 0 1px 1px;}
#gnb>ul>li>ul>li>a{position:relative;display:inline-block;padding:2px;}
#gnb>ul>li>ul>li>a:after{content:'';display:block;position:absolute;left:50%;width:0;bottom:0;height:1px;background:#222;transition:all 0.3s ease;}
#gnb>ul>li>ul>li>a:hover:after,
#gnb>ul>li>ul>li.active>a:after{left:0;width:100%;}
#gnb>ul>li>ul>li.active>a{color:#0083c2;}
#gnb>ul>li>ul>li.active>a:after{background:#0083c2;}
.head_utile{position:relative;margin-left:255px;padding:15px;padding-right:450px;height:42px;}
.head_utile:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
.head_utile .head_tit{display:inline-block;vertical-align:middle;}
.head_utile .user_info{position:absolute;right:15px;top:15px;color:#222222;}
.head_utile .user_info .user_info_cot{float: right;margin-top: 10px;}
.head_utile .user_info:before{content:'';display:inline-block;height:100%;vertical-align:middle;}
.head_utile .user_info .user_id{display:inline-block;font-weight:bold;margin-right:3px;border-bottom:1px solid #222;}
.head_utile .user_info .user_id .fa{color:#0083c2;margin-left:3px;font-size:18px;vertical-align:middle;}
.head_utile #time{position: absolute;top:25px; right:280px}
.icon_delivery {position: relative;padding-left: 34px;}
.icon_delivery:before{content:"";display: block;width: 24px; height:19px; position: absolute;top:0;left:0;background-image: url(../images/icon_del.png);}
.inner{width:1100px;margin:0 auto;}
.inner:after{content:''; display: block;clear: both;}
#container{position:relative;clear:both;padding:76px 0 0 255px;}
#contents{padding:30px;}
#contents:after{content:''; display: block;clear: both;}
.page_tit{position:relative;font-size:32px;color:#222;font-weight:400;margin-bottom:20px;}
.page_tit span{font-size:0.5em;font-weight:normal;}
.location_wrap{height:48px;}
.location_wrap > div{border-bottom:1px solid #e5e5e5;background:#fff;}
.location_wrap > div:after{content:''; display: block;clear: both;}
.location_wrap .home{display:block;float:left;width:53px;line-height:48px;border:1px solid #e5e5e5;border-width:0 1px;text-align:center;color:#8388a5;}
.location_wrap .home .fa{vertical-align:middle;font-size:16px;}
.location_wrap .location{float:left;position:relative;border-right:1px solid #e5e5e5;}
.location_wrap .location > a, .location_wrap .location > strong{display:block;position:relative;min-width:150px;padding:0 30px 0 15px;line-height:48px;font-size:14px;font-weight:normal;}
.location_wrap .location > a br{display:none;}
.location_wrap .location > a:after{content:'';display:block;position:absolute;top:50%;right:10px;width:7px;height:4px;margin-top:-2.5px;background:url(../images/spr.png) no-repeat -119px 0px;transition:transform 0.5s ease;}
.location_wrap .location.on > a:after{transform:rotate(180deg)}
.location_wrap .location ul{display:none;position:absolute;left:-1px;right:-1px;top:48px;z-index:1;border:1px solid #e8e8e8;background:#fff;}
.location_wrap .location ul li a{display:block;padding:5px 15px;font-size:14px;line-height:35px;}
.location_wrap .location ul li a:hover{background:#f5f5f5;}

.cont_in{position:relative;padding:29px;background:#fff;border:1px solid #e0e5ec;}
.cont_in.double{overflow:hidden;padding:0;}
.cont_in.double:after{content:'';display:block;position:absolute;right:339px;width:1px;height:100%;background:#e0e5ec;}
.cont_in.double .leftSec{float:left;width:758px;padding:29px;}
.cont_in.double .rightSec{float:right;width:339px;padding:29px;}
.cont_in:after{content:''; display: block;clear: both;}

#footer{background:#fff;border-top:1px solid #e5e5e5;margin-left:200px;}
#footer .foot_link{border-bottom:1px solid #e5e5e5;overflow:hidden;}
#footer .foot_menu{float:left;padding:19px 0;}
#footer .foot_menu li{float:left;height:12px;line-height:1;padding:0 15px;border-left:1px solid #cbcbcb;}
#footer .foot_menu li:first-child{border-left:0 none;padding-left:0;}
#footer .foot_menu li a{display:inline-block;font-size:12px;vertical-align:top;}
#footer .foot_menu li a strong{color:#222;}
#footer .foot_btn{float:right;border:1px solid #e5e5e5;border-width:0 1px;}
#footer .foot_btn .button{width:138px;height:48px;line-height:46px;border-radius:0;font-size:14px;padding:0;}
#footer .foot_info{padding:15px 0;}
#footer .foot_txt{color:#666;font-size:0;}
#footer .foot_txt + .foot_txt{padding-top:10px}
#footer .foot_txt p{display:inline-block;margin-left:8px;padding-left:8px;border-left:1px solid #bfbfbf;font-size:12px;line-height:1;}
#footer .foot_txt p:first-child{padding-left:0;margin-left:0;border:0;}
#footer .foot_txt p a{text-decoration: underline;color:#000;}
#footer .copy{padding:15px 0;font-size:12px;text-align:center;}


/* ==============================
 * common - 컨텐츠 공통
 * ============================== */
 h1, h2, h3, h4, h5, h6{color:#222;}

.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px;}
.fz20{font-size:20px;}
.fz24{font-size:24px;}
.fz28{font-size:28px;}
.fz32{font-size:32px;}
.bold{font-weight:bold;}

.t_black{color:#222222;}
.t_blue{color:#213ef4;}
.t_gray{color:#888;}

.t_center{text-align:center !important;}
.t_left{text-align:left;}
.t_right{text-align:right !important;}

.f_left{float:left;}
.f_right{float:right;}
.clear{clear:both;}
.clear:after{content:'';display:block;clear:both;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt13{margin-top:13px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr40{margin-right:40px !important;}

.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}

.pl10 {padding-left:10px;}

.w_100{width:100% !important;}
.w_50 {width:50%;}
.w_48 {width:48%;}
.w40{width:40px !important;}
.w60{width:60px;}
.w80{width:80px !important;}
.w100{width:100px;}
.w150{width:150px !important;}
.w200{width:200px;}
.w300{width:300px;}
.w400{width:400px;}

.block{display:block !important;}
.inblock{display:inline-block !important;}
.hide{display:none !important;}
.hidden{overflow:hidden !important;}
.scr_y {overflow-y: scroll;}
.blind{position:absolute;display:block;overflow:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.op80{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.bg_layer{display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:#333;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;z-index:200;}
.w98per {width: 98%;}
.w1440 {width: 1440px !important;}
.blur img{-webkit-filter:blur(6px);-moz-filter:blur(6px);filter:blur(6px);}
.grayscale img{
	filter:url(filters.svg#gray);/* Gecko and FF*/
	filter:gray;/* IE */
	-moz-filter:grayscale(1);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-webkit-filter:grayscale(1);}
a.grayscale:hover img, a.grayscale:focus img, a.grayscale:active img{
	filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
	-webkit-filter:none;}

#btnTop{display:none;position:fixed;right:10px;bottom:10px;width:40px;line-height:40px;font-size:1.5em;text-align:center;color:#fff;background:#297d2e;opacity:0.7;filter:alpha(opacity=70);border-radius:100%;z-index:50;}
	#btnTop:hover, #toTop:focus, #toTop.hover{opacity:1;filter:alpha(opacity=100);}

/* form */
.input,.textarea{display:inline-block;height:30px;line-height:28px;padding:0px 10px;border:1px solid #d9d9d9;border-radius:0;background:#fff;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;vertical-align:middle;box-sizing:border-box;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:12px;}
.input[type="file"]{padding:3px;line-height:16px;font-size:12px;}
.input.h40{height:40px;line-height:38px;font-size:14px;}
.input.readonly, .textarea.readonly, .select.readonly {background: #f9f9f9 !important;}
.select:hover, .input:hover, .textarea:hover,
.select:focus, .input:focus, .textarea:focus{border-color:#777}
.select:read-only, .input:read-only, .textarea:read-only,
.select.readonly, .input.readonly, .textarea.readonly{border-color:#d9d9d9}
.select:disabled, .input:disabled, .textarea:disabled{background-color:#eee;}
.select{display:inline-block;height:30px;line-height:28px;padding:0 40px 0 10px;border:1px solid #d9d9d9;border-radius:0;vertical-align:middle;box-sizing:border-box;font-size:12px;
	-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-rtl-ordering:logical;background:#fff url(../images/bg_select.png) no-repeat right center;}
.select::-ms-expand{display:none;}
.select.h40{height:40px;line-height:38px;font-size:14px;}
.textarea{width:100%;height:400px;padding:10px;resize:none;line-height:1.3;box-sizing:border-box;}
.input.error, .select.error, .textarea.error{background:#f9ecec !important;}

.checkbox, .radio{position:relative;display:inline-block;min-width:14px;min-height:14px;margin:3px 0;vertical-align:middle;}
.checkbox input[type="checkbox"], .radio input[type="radio"]{opacity:0;position:absolute;left:0;top:0;width:14px;height:14px;margin:0;padding:0;z-index:1;}
.checkbox input:checked, .radio input:checked, .checkbox input:focus, .radio input:focus{outline:none! important}
.checkbox i, .radio i{position:absolute;left:0;top:0;display:inline-block;width:14px;height:14px;}
.checkbox i:before, 
.radio i:before{content:'';display:block;width:14px;height:14px;border:1px solid #d5d9e0;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);background:#fff;box-sizing:border-box;vertical-align:middle;}
.radio i:before{border-radius:100%;}
.checkbox input+i:after, 
.radio input+i:after{content:'';display:inline-block;position:absolute;}
.checkbox input+i:after{width:7px;height:3px;top:4px;left:3px;border:2px solid #ddd;border-top:none;border-right:none;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.radio input+i:after{width:6px;height:6px;top:4px;left:4px;border-radius:100%;background:#ddd;}
.checkbox input:checked+i:after{border-color:#4b8ec3;}
.radio input:checked+i:after{background:#4b8ec3;}
.checkbox .lbl, .radio .lbl{display:block;line-height:1;margin-left:20px;margin-right:15px;}
.checkbox input:checked+i+.lbl,
.radio input:checked+i+.lbl{color:#222;font-weight:bold;}
.checkbox.hover input+i:before, .radio.hover input+i:before,
.checkbox:hover input+i:before, .radio:hover input+i:before,
.checkbox input:focus+i:before, .radio input:focus+i:before{border-color:#aaa;}
.checkbox input:disabled+i:before, .radio input:disabled+i:before,
.checkbox input.disabled+i:before, .radio input.disabled+i:before{background:#eee;border-color: #ddd;}
.radio i.top_7 {top:7px;}

.inp_file{position:relative;padding-right:85px;}
.inp_file .input{width:100%;vertical-align:middle;}
.inp_file .btn_file{display:inline-block;position:absolute;right:0;top:0;overflow:hidden;vertical-align:middle;}
.inp_file .btn_file .button{border-radius:0;width:80px;padding:0;}
.inp_file .btn_file input{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;margin:0;z-index:2;font-size:10em;line-height:2;cursor:pointer;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
span.inp_file{display:inline-block;padding-right:0;}
span.inp_file .input{width:400px;}
span.inp_file .btn_file{position:relative;}

.datepicker_wrap{display:inline-block;padding-right:5px;border:1px solid #d9d9d9;vertical-align:middle;}
.datepicker_wrap .input{width:85px;height:28px;border:0 none;outline:none;text-align:center;vertical-align:middle;}
.datepicker_wrap .ui-datepicker-trigger{display:inline-block;padding:5px;font-size:0;text-indent:-999em;vertical-align:middle;text-align:center;}
.datepicker_wrap .ui-datepicker-trigger:before{content:'';display:inline-block;width:13px;height:12px;background:url(../images/spr.png) no-repeat -105px 0px;}

.inp_spinner{position:relative;display:inline-block;padding:0 35px;font-size:18px;}
.inp_spinner span{position:relative;display:inline-block;}
.inp_spinner .input{width:60px;text-align:center;color:#0083c2;border-color:#fff;font-weight:bold;font-size:20px;padding:0;}
.inp_spinner .input.on{border-color:#d9d9d9;}
.inp_spinner .select{position:absolute;left:0;top:0;width:100%;padding:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);text-align:center;}
.inp_spinner .btn{position:absolute;top:0;width:30px;height:30px;line-height:28px;background:#838d96;text-align:center;color:#fff;}
.inp_spinner .btn.btn_minus{left:0;}
.inp_spinner .btn.btn_plus{right:0;}
.inp_spinner .btn:hover, .inp_spinner .btn:focus{background:#0083c2;}
.inp_spinner .btn .fa{vertical-align:middle;height:16px;}

/* switch */
.switch{display:inline-block;vertical-align:middle;}
.switch input{position:absolute;left:-9999px;opacity:0;}
.switch span{position:relative;width:65px;height:26px;background:#e8e8e8;display:inline-block;;border-radius:13px;cursor:pointer;transition:150ms linear;font-size:12px;}
.switch span:before{content:"off";position:absolute;right:10px;top:5px;color:#999999;text-transform:uppercase;line-height:14px;}
.switch span:after{transition:150ms linear;height:22px;width:22px;display:block;border-radius:999px;content:"";background:#fff;position:absolute;top:2px;left:2px;}
.switch input:checked+span{background:#c80000;}
.switch input:checked+span:before{content:"on";left:12px;color:#fff;}
.switch input:checked+span:after{left:41px;}

/* width */
.inp_wid{position:relative;}
.inp_wid:after{content:'';display:block;clear:both;}
.inp_wid + .inp_wid{margin-top:5px;}
.inp_wid>input, .inp_wid>select, .inp_wid>label, .inp_wid>.button{float:left;width:100%;margin-left:2%;}
.inp_wid>.button{padding-left:0 !important;padding-right:0 !important;}
.inp_wid>input:first-child, .inp_wid>select:first-child, .inp_wid>label:first-child, .inp_wid>.button:first-child{margin-left:0 !important;}
.inp_wid.wid2>input, .inp_wid.wid2>select, .inp_wid.wid2>label, .inp_wid.wid2>.button{width:49%;}
.inp_wid.wid3>input, .inp_wid.wid3>select, .inp_wid.wid3>label, .inp_wid.wid3>.button{width:32%;}
	.inp_wid.wid3 .col2{width:66%;} 
.inp_wid.wid4>input, .inp_wid.wid4>select, .inp_wid.wid4>label, .inp_wid.wid4>.button{width:23.5%;}
	.inp_wid.wid4 .col2{width:49%;}
	.inp_wid.wid4 .col3{width:73.5%;}
.inp_wid.inp_mail .input{width:45%;}
.inp_wid.inp_mail span{display:inline-block;width:10%;text-align:center;float:left;line-height:40px;}
.inp_wid.inp_mail .input{margin-left:0;}
.inp_wid.inp_mail .select{width:30%;margin-left:2%;}
.inp_zipcode {position: relative;}
.inp_zipcode li + li {margin-top: 10px;}
.inp_zipcode li:first-child .input {width:141px;}
.inp_zipcode li .button{margin-left: 6px;}


 /* 버튼 */
.button_box{padding:39px 30px;text-align:center;}
.button{display:inline-block;position:relative;height:30px;line-height:28px;padding:0px 15px;border:1px solid #e0e5ec;background:#ffffff;text-align:center;color:#444;vertical-align:middle;font-size:12px;border-radius:2px;cursor:pointer;box-sizing: border-box;}
	.button:hover,.button:focus,.button:active{text-decoration:none !important}
	.button:active{transform:scale(0.95)}

.button.btn_red{background:#eb1c23;border-color:#eb1c23;color:#fff}
.button.btn_gray{background:#838d96;border-color:#838d96;color:#fff}
.button.btn_gray2{background:#f4f4f4;border-color:#b0b0b0;color:#878787;border-radius:3px;}
.button.btn_black{background:#1e2225;border-color:#1e2225;color:#fff}
.button.btn_blue{background:#0083c2;border-color:#0083c2;color:#fff;border-radius:3px;}
.button.btn_green{background:#018249;border-color:#018249;color:#fff}

.button.h22{height:22px;line-height:20px;font-size:11px;font-weight:normal;padding:0 7px;}
.button.h34{height:34px;line-height:32px;font-size:13px;}
.button.h40{height:40px;line-height:38px;font-size:16px;}
.button.h50{height:50px;line-height:48px;font-size:16px;border-radius:3px;}

.button.w70{width:70px;padding:0;}
.button.w80{width:80px;padding:0;}
.button.w100{width:100px;padding:0;}
.button.w120{width:120px;padding:0;}
.button.w140{width:140px;padding:0;}
.button.w150{width:150px;padding:0;}

/* 테이블 */
table img{max-width:100%;}
.table{border-bottom:2px solid #222222;}
.table .link:hover{text-decoration:underline}
.table th, .table td{line-height:1.4;padding:10px 5px;height:30px;word-break:break-all}
.table thead th, .bg_navy {background:#2d3143;border-right:1px solid #424656;color:#ffffff;}
.table thead tr + tr th{border-top:1px solid #424656;}
.table thead th:last-child{border-right:0 none;}
.table.thead2  thead th{padding:5px 3px;height:auto;}
.table tbody td{border-bottom:1px solid #e4e8ee;text-align:center;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.table tfoot td{border-top:2px solid #222;}
.table .td_yellow{background:#fffed2;}
.table.tbl_row tbody tr:nth-child(even) td{background:#fafafb;}
.table.tbl_row tbody tr:nth-child(even) .td_yellow{background:#faf9e5;}
.table .even td{background:#fafafb;}
.table .even .td_yellow{background:#faf9e5;}
.table .on td,
.table .on .td_yellow,
.table.tr_hover tbody tr:hover td{background:#d5f7ff !important;}
.table2.tr_hover tbody tr:hover td {background: #f1f1f1;font-weight: bold;}
.table.tr_hover tbody tr:hover td{color:#222;font-weight:bold;}
.table.tr_hover tbody tr:hover .link{text-decoration:underline;}
.table.td_line tbody td{border-right:1px solid #e4e8ee;}
.table.td_line td.th{border-right:0 none;color:#222;}
.table .bg_gray td{background:#fafafb;}
.table .bg_gray2 td{background:#f3f3f3;}
.table .bg_yellow td{background:#fffed2;}
.table.tbl_left{border-top:2px solid #222;}
.table.tbl_left th, .table.tbl_left td{text-align:left;padding:10px 10px 10px 20px;}
.table.tbl_left tbody th{border-bottom:1px solid #424656;background:#2d3143;color:#fff;}
.table.tbl_left th.bbm_gray {border-bottom:1px solid #424656;}
.table.tbl_left.tc th, .table.tbl_left.tc td {text-align:center;;}
.table .tl{text-align:left;padding-left:10px;}
.table .tr{text-align:right;padding-right:10px;}
.table .full,.table2 .full{width:100%;}
.table_head .table{border-bottom:0 none;}
.table_body{overflow-y:scroll;height:512px;border-bottom:2px solid #222222;}
.table_body .table{border-bottom:0 none;}
.table2{border-collapse:collapse;}
.table2 th, .table2 td{border:1px solid #cde9f0;padding:10px;}
.table2 th {text-align:center;color:#1c637c;background:#e6faff;}
.tbl_left.tbl_txt_c th{text-align: center;}
.table .bdt td{border-top:2px solid #222222}
.table tbody td.line {white-space:inherit;}

/* 페이징 */
.paging_wrap{overflow:hidden;position:relative;text-align:center;margin-top:15px;min-height:30px;}
.paging_wrap .left{position:absolute;left:0;top:0;}
.paging_wrap .right{position:absolute;right:0;top:0;}
.paging{font-size:0;display:inline-block;}
.paging a, .paging strong{display:inline-block;width:26px;height:26px;line-height:26px;margin:0 1px;vertical-align:middle;border:1px solid #e5e5e5;box-sizing:border-box;font-size:13px;}
.paging strong{color:#0083c2;background:#fafafa;}
.paging .btn{background:url(../images/spr.png) no-repeat;border:0 none;font-size:0;line-height:0;text-indent:-999em;margin:0;}
.paging .btn_first{background-position:0px 0;}
.paging .btn_prev{background-position:-26px 0;}
.paging .btn_next{background-position:-52px 0;}
.paging .btn_last{background-position:-78px 0;}
.paging span{display:inline-block;margin:0 10px;vertical-align:middle;font-size:12px;color:#333333;}
.paging span input{width:40px;height:26px;padding:0;line-height:24px;text-align:center;box-sizing:border-box;border:1px solid #222;}

/*탭메뉴*/
.tabmenu{padding:0 1px;font-size:14px;display:table;width:100%;table-layout:fixed;box-sizing:border-box;}
.tabmenu > li{display:table-cell;;width:100%;}
.tabmenu > li > a{display:block;background:#ffffff;text-align:center;padding:13px 10px;border:2px solid #b6bac1;border-bottom-color:#0083c2;margin:0 -1px;}
.tabmenu > li > a:hover{font-weight:bold;}
.tabmenu > li.on{position:relative;}
.tabmenu > li.on > a{border-color:#0083c2;border-bottom-color:#f5f5f8;background:#f5f5f8;color:#222222;font-weight:bold;}
.tabmenu2{font-size:13px;}
.tabmenu2 > li{float:left;margin-left:5px;}
.tabmenu2 > li:first-child{margin-left:0;}
.tabmenu2 .button{min-width:140px;height:34px;line-height:32px;padding:0 10px;}
.tabmenu2 .button:hover,
.tabmenu2 .on .button{background:#0083c2;border-color:#0083c2;color:#fff;}
.tabmenu + .tabmenu2{margin-top:20px;}
.tab_cont{display:none;}

.tab_wrap{height:48px;}
.tab_wrap.fixed .tabmenu{position:fixed;left:0px;top:76px;right:0px;z-index:20;box-sizing:border-box;min-width:1200px;padding:0 30px 0 230px;}

body .ui-tooltip{font-size:12px;border-width:1px;box-shadow:none}
.alert_tip{position:absolute;color:#fff;background:#0083c2;padding:3px 5px;border-radius:5px;font-size:0.875em;z-index:300;box-sizing:border-box;}

#loading{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.6);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:500;}
#loading div{position:absolute;width:600px;height:36px;left:50%;top:50%;margin:-18px 0 0 -300px;overflow:visible;font-size:16px;}
#loading p{position:absolute;width:20px;height:36px;opacity:0;font-family:Helvetica, Arial, sans-serif;color:#35C4F0;text-align:center;
  animation:loadingMove 2s linear infinite;-o-animation:loadingMove 2s linear infinite;-moz-animation:loadingMove 2s linear infinite;-webkit-animation:loadingMove 2s linear infinite;
  transform:rotate(180deg);-o-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);}
#loading p:nth-child(2) {animation-delay:0.2s;-o-animation-delay:0.2s;-moz-animation-delay:0.2s;-webkit-animation-delay:0.2s;}
#loading p:nth-child(3) {animation-delay:0.4s;-o-animation-delay:0.4s;-webkit-animation-delay:0.4s;-webkit-animation-delay:0.4s;}
#loading p:nth-child(4) {animation-delay:0.6s;-o-animation-delay:0.6s;-moz-animation-delay:0.6s;-webkit-animation-delay:0.6s;}
#loading p:nth-child(5) {animation-delay:0.8s;-o-animation-delay:0.8s;-moz-animation-delay:0.8s;-webkit-animation-delay:0.8s;}
#loading p:nth-child(6) {animation-delay:1s;-o-animation-delay:1s;-moz-animation-delay:1s;-webkit-animation-delay:1s;}
#loading p:nth-child(7){animation-delay:1.2s;-o-animation-delay:1.2s;-moz-animation-delay:1.2s;-webkit-animation-delay:1.2s;}

@keyframes loadingMove {
	0% {left:0;opacity:0;}
	35% {left:41%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
	65% {left:59%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
	100% {left:100%;-o-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0;}
}
@-moz-keyframes loadingMove {
	0% {left:0;opacity:0;}
	35% {left:41%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
	65% {left:59%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
	100% {left:100%;-o-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0;}
}
@-webkit-keyframes loadingMove {
	0% {left:0;opacity:0;}
	35% {left:41%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
	65% {left:59%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
	100% {left:100%;-o-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0;}
}
@-o-keyframes loadingMove {
	0% {left:0;opacity:0;}
	35% {left:41%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
	65% {left:59%;-o-transform:rotate(0deg);transform:rotate(0deg);opacity:1;}
	100% {left:100%;-o-transform:rotate(-180deg);transform:rotate(-180deg);opacity:0;}
}

 /* ==============================
 * popup
 * ============================== */
.pop_wrap{display:none;position:fixed;left:0;right:0;top:0;bottom:0;padding:20px;background:url(../images/bg_popup.png);overflow:auto;z-index:200;}
.pop_wrap .popup{position:relative;width:640px;margin:0 auto;border:1px solid #2d3143;background:#fff;}

.pop_wrap .pop_head{background:#2d3143;padding:12px 30px;border-bottom:1px solid #2d3143;height:26px;overflow:hidden;}
.pop_wrap .pop_head h1{color:#fff;font-size:20px;font-weight:normal;}
.pop_wrap .pop_cont{padding:30px;}
.pop_wrap .pop_foot{text-align:center;padding:25px 0;background:#fafbfd;border-top:1px solid #d0d0d0;}
.pop_wrap .btn_close{display:block;width:50px;height:50px;position:absolute;right:0px;top:0px;background:url(../images/spr.png) no-repeat 0px -26px;text-indent:-999em;font-size:0;}
.pop_wrap .popup.pop_small{width:420px;border-top-width:3px;}

 /* ==============================
 * ie
 * ============================== */
.lt-ie9 .radio i:before{border:0 none;}
.lt-ie10 .select{padding:5px;background:none;}
.lt-ie10 .select.h40{padding:7px;}

 @media print{
     body{font-family:'맑은 고딕','Malgun Gothic', sans-serif;}
     .pop_wrap{background:none}
     body>.pop_wrap:first-child{position:static;}
  }